@import '#/common';

.button {
    cursor: pointer;
    padding: 0.5em;
    color: white;
    border-radius: 0.2em;
    background: $button-color;
    text-align: center;
    transition: 300ms;
    user-select: none;

    &:hover {
        background: $button-color-hover;
    }

    &:active {
        background: $button-color-active;
    }
}