.loader {
    z-index: 10000000;
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(95, 129, 241);

    svg {
        animation: spin 750ms ease-in-out infinite;

        @keyframes spin {
            from {
                transform: rotateZ(0deg);
            }

            to {
                transform: rotateZ(360deg);
            }
        }
    }

    &[data-status="active"] {
        opacity: 1;
    }

    &[data-status="inactive"] {
        pointer-events: none;
    }
}