.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.7em;
    text-align: center;
    align-items: center;

    .top-bar-title {
        font-size: 1.2em;
        user-select: none;
    }

    .login-register-buttons {
        > a {
            margin: 0.5em;
            font-size: 1em;
            text-decoration: none;

            &:visited {
                color: blue;
            }

            &.active {
                text-decoration: underline;
            }
        }
    }
}