// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$font-family-main: 'Roboto', sans-serif;

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-main;
    -webkit-tap-highlight-color: transparent;
}

body {
    position: relative;
}

body, html, #app, .content, .home {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#app {
    display: flex;
    flex-direction: column;
}

.content {
    opacity: 1;

    &.fade {
        animation: content-fade 300ms ease-in-out forwards;
    }

    @keyframes content-fade {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

// Colors
$button-color: rgb(42, 147, 196);
$button-color-hover: rgb(39, 147, 197);
$button-color-active: rgba(28, 142, 195, 1);